services:
  web:
    build: 
      context: .
      dockerfile: docker/Dockerfile
    container_name: pharmacy_api
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./app:/app
    

