@import "tailwindcss";

@theme {
  /* Extending the default palette with your specific hex codes */
  --color-slate-950: #030712;
  --color-slate-900: #0f172a;
  --color-slate-800: #1e293b;
  --color-slate-700: #334155;
  --color-slate-400: #78716c;
  --color-slate-300: #cbd5e1;

  --color-emerald-400: #34d399;
  --color-emerald-500: #10b981;
  --color-emerald-600: #059669;

  --color-teal-500: #14b8a6;
  --color-teal-600: #0d9488;

  /* Custom Animations */
  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  --animate-fade-in: fade-in 0.7s ease-out forwards;
  --animate-fade-in-delay-1: fade-in 0.7s ease-out 0.2s forwards;
  --animate-fade-in-delay-2: fade-in 0.7s ease-out 0.4s forwards;
  --animate-fade-in-delay-3: fade-in 0.7s ease-out 0.6s forwards;
  --animate-fade-in-delay-4: fade-in 0.7s ease-out 0.8s forwards;
}

@keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



/* You can also put your specialized component styles here */
@layer components {
  .animate-fadeIn {
    animation: fadeIn 0.5s ease-out;
  }
}

@layer utilities {

  /* This targets the browser window scrollbar */
  :root {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  :root::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}


@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >=640px) {
    max-width: 640px;
  }

  @media (width >=768px) {
    max-width: 768px;
  }

  @media (width >=1024px) {
    max-width: 1024px;
  }

  @media (width >=1280px) {
    max-width: 1280px;
  }

  @media (width >=1400px) {
    max-width: 1400px;
  }
}


html {
  scroll-behavior: smooth;
}